a {
    color:#2EBDD1;
    text-decoration:none;
}
a:hover {
    color:#2EBDD1;
    text-decoration:underline;
}
span {
    color: #2EBDD1;
}
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 10%;
    margin-bottom: auto;
}
h1 {
    font-weight: bold;
}
ul {
    display: inline;
}
img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    width: 50px;
    height: 50px;
}
p {
    margin-top: 50px;
    margin-left: 25%;
    margin-right:25%;
}
.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@media only screen and (min-width: 600px) {
    ul li{
        display: inline-block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
    }
    ul {
        padding: 0;
    }
    img {
        height: 64px;
        width: 50%;
    }
}
