* {
  font-family: 'Poppins', serif;
}

li {
  margin-left: 25%;
  margin-right: 25%;
}

p {
  text-align: center;
}

body {
  margin-top: 2%;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

a {
  color: #0e7e8c;
  text-decoration: none;
}

a:hover {
  color:#0e7e8c;
  text-decoration:underline;
}

span {
  color:#0e7e8c;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 1%;
  overflow-wrap: break-word;
  font-weight: 600;
}

h1 {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  margin-top: 0;
  overflow-wrap: break-word;
}

ul {
  padding: 0;
  margin-left: 0;
  margin-bottom: 1%;
}

.fade-in {
  animation: fadeIn ease 3.5s;
  -webkit-animation: fadeIn ease 3.5s;
  -moz-animation: fadeIn ease 3.5s;
  -o-animation: fadeIn ease 3.5s;
  -ms-animation: fadeIn ease 3.5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@media only screen and (min-width: 600px) {
  .social-list li {
      display: inline-block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1%;
  }

  .social-list {
      padding: 0;
  }

  .social-icon {
      height: 64px;
      width: 64px;
  }
}