.background { 
  background-image: url('./img/IMG_3202.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  padding: 0;
  overflow: auto;
}
